:root {
    --pink: #f7c8e0;
    --green: #dfffd8;
    --light-blue: #b4e4ff;
    --blue: #95bdff;
    --yellow: #e5c890;
    --lavender: #b4befe;

    --main: #121626;
    --secondary: hsl(from var(--main) h s calc(l * 1.8));

    --border-roundness: 5px;

    --text-color: white;
}

@layer general {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        background: var(--main);
        color: white;
    }

    input,
    label {
        user-select: none;
    }

    textarea {
        border-style: solid;
    }

    button,
    textarea,
    input,
    select {
        background: hsl(from var(--main) h s calc(l * 1.8))
    }


    /*make sure there is actually something in the anchor*/
    a {
        color: unset;
        text-decoration: unset;
        cursor: default;
    }

    a[href*=":"] {
        color: var(--light-blue);
        cursor: pointer;
        text-decoration: underline;
    }

    [data-close-popover] {
        position: absolute;
        top: 2%;
        right: 2%;

        background: var(--secondary);
        border: 1px solid white;
        border-radius: var(--border-roundness);
        padding: 5px;
    }

    input {
        color: white;
        background: var(--secondary);
        border-style: dotted;
        padding: 5px;
        border-radius: var(--border-roundness);
    }

    form button {
        padding: 5px;
    }

    select {
        background: var(--secondary);
        border-style: solid;
        color: white;
        border-radius: var(--border-roundness);
    }

    button,
    input[type="submit"] {
        border: 1px solid currentColor;
        border-radius: var(--border-roundness);
        background: var(--secondary);
        color: white;
        cursor: pointer;
    }

    input[type="checkbox"] {
        appearance: none;
        border-style: solid;
        &:checked {
            border-color: var(--green);
            background: var(--green);
        }
    }

    dialog {
        color: white;

        background: var(--main);
        border: 1px solid white;

        width: 80vmin;
        aspect-ratio: 1 / 1;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);

        container: dialog / size;
    }

    dialog::backdrop {
        background-color: #00000077;
        backdrop-filter: blur(1px);
        user-select: none;
        pointer-events: none;
    }
}

@layer utility {
    .center {
        text-align: center;
    }
    .margin-center {
        margin: 0 auto;
    }

    .bad {
        --accent-color: var(--pink);
        color: var(--accent-color);
    }

    .good {
        --accent-color: var(--green);
        color: var(--accent-color);
    }

    .flex-column {
        display: inline-flex;
        flex-direction: column;
    }

    .flex {
        display: flex;

        &.column {
            flex-direction: column;
        }

        &.row {
            flex-direction: row;
        }

        &.wrap {
            flex-wrap: wrap;
        }

        .grow {
            flex-grow: 1;
        }
    }

    .grid {
        display: grid;
        &.row {
            grid-auto-flow: row;
        }
        &.column {
            grid-auto-flow: column;
        }
    }

    .flex-row {
        display: inline-flex;
    }

    .flex-wrap {
        flex-wrap: wrap
    }

    .block {
        display: block;
    }

    .overflow {
        overflow: auto auto;
    }

    .float {
        &.right {
            float: right;
        }

        &.left {
            float: left;
        }
    }
}
