@import "/css/general.css";

@layer general, utility, components;

@layer utility {
    .grid-row {
        display: grid;
        grid-auto-flow: row;
    }

    .close {
        margin: 20px;
    }
}

@layer components {

    html,
    body {
        height: 100%;
        margin: 0;

        container: body / inline-size;
    }

    :is(#entry-output, #graph-output, #calc-output, #gallery-output) {
        &:target {
            display: inherit;
        }

        &:not(:target) {
            display: none;
        }
    }

    #help-link {
        text-align: center;
        display: block;
        align-content: center;
        border: 1px dashed;
        padding: 0 1ch;
        margin: 0 1ch;
        cursor: pointer;

        /*position inside of the search box instead of next to it*/
        @supports (position-anchor: --search-anchor) {
            position: absolute;
            position-anchor: --search-anchor;
            left: calc(anchor(left) + 10ch);
            bottom: calc(anchor(bottom) + 0.8cap);
            border-radius: 5em;
            aspect-ratio: 1 / 1;
        }
    }

    #gallery-items img {
        width: 50cqb;
    }

    #view-all {
        vertical-align: bottom;
    }

    #main {
        height: 100%;
    }

    #main-ui {
        flex-grow: 1;

        display: grid;

        gap: 1em;

        @container body (width >=800px) {
            grid-template-areas:
                "form form form"
                "sidebar main main"
                "sidebar main main";
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: min-content 1fr 1fr;
        }

        @container body (width < 800px) {
            grid-template-rows: max-content min-content 3fr;
            grid-template-columns: 1fr 1fr 0.5fr;
            grid-template-areas:
                "form form form"
                "sidebar sidebar sidebar"
                "main main main";
        }
    }

    dialog:has(#new-item-form) h3 {
        text-align: center;
    }

    #new-item-form {
        display: flex;
        flex-direction: column;
        gap: 1cap;
        margin: 0 20%;
    }


    #form-area {
        grid-area: form;

        text-wrap: nowrap;
        overflow-x: auto;
        display: grid;
        grid-template-areas:
            "new searching stats";
        grid-template-columns: min-content 2fr 1fr;
        width: 100%;

        @container (width < 1000px) {
            grid-template-areas:
                "new searching searching"
                "stats stats stats";

            .result-stats {
                justify-self: center;
            }
        }

        border-bottom: 2px solid var(--secondary);

        #new-entry {
            width: 50px;
            grid-area: new;

            justify-self: end;
        }

        :not([multiple]) {
            vertical-align: top;
        }


        [name="search-query"] {
            anchor-name: --search-anchor;
            max-width: 500px;
            flex-grow: 1;
        }

        [name="sort-by"] {
            max-width: 200px;
            flex-grow: 0.3;
        }

        dialog {
            --btn-size: max(20px, 3cqi);

            select[multiple] {
                height: 50cqb;
            }

            .grid {
                display: grid;
                grid-template-areas: "main close-button";
                grid-template-columns: calc(100% - var(--btn-size)) var(--btn-size);
            }

            button.close {
                grid-area: close-button;
                width: var(--btn-size);
                aspect-ratio: 1 / 1;
                margin: 0;
            }
        }

        form {
            flex-grow: 1;
            display: flex;

            grid-area: searching;
        }

        .result-stats {
            display: flex;
            gap: 10px;
            justify-content: end;

            grid-area: stats;

            *:not(:last-child) {
                padding-right: 10px;
                border-right: 1px dashed white;
            }
            * {
                align-content: center;
            }
        }

        .result-stats::before {
            content: "Stats: ";
            border-right: 1px dashed white;
            padding-right: 10px;

            align-content: center;
        }

        [data-stat-name="totalCost"]::before {
            content: "$"
        }

        [data-stat-name]:not([data-stat-name="totalCost"])::before {
            content: attr(data-stat-name) ": "
        }
    }

    #viewing-area {
        height: 100%;
        container-name: viewing-area;
        container-type: size;


        &:has(display-entry) h3 {
            display: none;
        }

        &:not(:has(display-entry)) {
            align-items: center;
        }

        @container body (width < 800px) {
            grid-column: 1 / -1;
            overflow: auto auto;
        }

        @container body (width >=800px) {
            grid-area: main;
        }


        #graph-output {
            width: 100%;
            height: 100%;

            border: 2px solid hsl(from var(--secondary) h s 30%);

            form {
                position: sticky;
                top: 0;
                float: right;
            }
        }

        #calc-output:target {
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-areas:
                "input"
                "output";
            grid-template-rows: min-content 1fr;

            #calc-items {
                display: flex;
                flex-wrap: wrap;
            }
        }

        #graph-output:target>div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            height: 100%;

            div {
                width: 90%;
            }
        }
    }


    #entry-output {
        --grid-size: 50%;

        --gap-size: 10px;

        gap: var(--gap-size);

        height: 100%;
        overflow: auto auto;

        grid-area: main;

        display: flex;

        @container viewing-area (width >=800px) {
            flex-wrap: wrap;
        }

        @container viewing-area (orientation: landscape) {
            flex-direction: row;
        }

        @container viewing-area (orientation: portrait) {
            flex-direction: column;
        }

    }

    .sidebar {
        grid-area: sidebar;
        height: 100%;
        width: clamp(100px, 20cqi, 200px);

        container: sidebar / inline-size;

        .sidebar--navigation {
            position: sticky;
            top: 0;
            z-index: 1;
            background: var(--main);

            padding: 5px;
        }
    }

    .sidebar--items {
        display: flex;
        width: clamp(200px, 35vw, 35vw);
        flex-direction: column;

        min-height: 10dvh;
        max-height: 83%;

        width: 100%;

        float: left;

        padding: 0;

        counter-reset: item-list;

    }

    #result-info {
        grid-area: results;
    }

    @container body (width < 800px) {
        #main-ui {
            position: relative;

        }

        .sidebar {
            &>div:first-child {
                position: sticky;
                left: 0;
            }

            width: 100%;
        }

        .sidebar--items {
            grid-column: 1 / -1;
            flex-direction: row;
            min-width: fit-content;
            min-height: fit-content;
        }
    }
}
