@import "/css/general.css";
@import "/new-ui/css-styles/rating-styles.css";

* {
    box-sizing: border-box;
}

hr {
    border-style: dashed;
    border-color: white;
}

:host(display-entry) {
    flex-grow: 1;
    min-width: 50%;
    min-height: 50%;

    overflow: auto auto;
}

.root {
    width: 100%;
    height: 100%;
    container: entry / inline-size;
    border: 1px solid white;

    overflow: auto auto;
}

.thumbnail {
    float: right;
    margin: 0;

    box-shadow: 2px 2px 10px var(--blue);
    border: 1px solid var(--blue);
}

.user-actions {
    border-collapse: collapse;
    width: 40cqw;

    text-align: center;

    td,
    th {
        border: 1px solid white;
    }
}

.header-subtitle {
    display: grid;
    gap: 1ex;

    font-size: 0.85em;

    text-align: center;
}

.actions {
    gap: 0.5cqi;

    justify-content: center;

    margin: 3cap 0;
}

.action {
    font-size: max(20px, 1.5cqi);
    aspect-ratio: 1 / 1;
}

div:has( > .close ) {
    float: left;
    gap: 20px;
    aspect-ratio: 2;

    margin: 0.4em 0 0 0.4em;

    button {
        aspect-ratio: 1 / 1;
        height: 3cap;
    }
}

.delete {
    color: var(--red);
}

.notes:empty::before {
    content: "Edit me!";
    opacity: 50%;
}
