@import "/css/general.css";
@import "/new-ui/css-styles/rating-styles.css";

:host(sidebar-entry)::before {
    counter-increment: item-list;
    content: counter(item-list);
    float: left;
}

:host(sidebar-entry) {
    @media (width >=800px) {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    @media (width < 800px) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    height: 100%;

    @media (width < 800px) {
        width: 300px;
    }

    [data-type-icon]::after {
        content: " (" attr(data-type-icon) " " attr(data-release-year) ")";
    }

    .root {

        box-sizing: inline;

        container-type: size;
        height: 150px;
        overflow: auto;

        font-size: 0.9em;

    }

    figure {
        display: flex;
        gap: 0.4em;
        margin: 10px 0 0 10px;

        .title {
            font-size: 0.8em;
        }

        img {
            cursor: pointer;
            height: 80cqb;
        }
    }

    .header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto max-content;
    }

    .status {
        margin: 0;
        padding: 0;
    }
}
