@import "/css/general.css";
@import "/new-ui/css-styles/rating-styles.css";

:host(sidebar-entry)::before {
    float: left;
}

@media (width < 800px) {
    :host(sidebar-entry)::before {
        content: ''
    }
}

:host(sidebar-entry) {
    @media (width >=800px) {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    @media (width < 800px) {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    height: 100%;

    [data-type-icon]::before {
        content: attr(data-type-icon) " "
    }

    .root {
        container-type: inline-size;

        height: 20cqb;
        align-content: center;

        overflow: hidden;

        font-size: 0.9em;

        @media (width < 800px) {
            width: 25vw;
            height: min-content;
            aspect-ratio: initial;
        }
    }

    figure {
        @media (width >= 800px) {
            display: grid;
            justify-items: center;
        }

        @media (width < 800px) {
            display: grid;
        }

        gap: 0.4em;
        margin: 0;

        contain: inline-size;

        .title {
            font-size: 0.8em;
            width: 80%;

            @media (width < 800px) {
                display: none;
            }

            @media (width >= 800px) {
                text-align: center;
            }
        }

        img {
            cursor: pointer;
            height: 70cqi;

            @media (width < 800px) {
                justify-self: center;
            }
        }
    }

    .header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto max-content;
    }

    .status {
        margin: 0;
        padding: 0;
    }
}
